<?xml version="1.0"?>
<model>
  <name>Pegasus Capture</name>
  <version>1.0</version>
  <sdf version='1.6'>pegasus_capture.sdf</sdf>

  <author>
   <name>Luis Abrantes</name>
   <email>luis.g.abrantes@tecnico.ulisboa.pt</email>
  </author>

  <description>
    Model of M690B drone created for PROJECT Capture, ISR
  </description>
</model>
